<html>
    <head>
        {% if title %}
        <title>APP NAME - {{ title }}</title>
        {% else %}
        <title>APP NAME</title>
        {% endif %}
    </head>
    <body>
        <div>
            APP NAME:
            <a href="{{ url_for('login') }}">Page d'accueil</a>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>