{% extends "base.html" %}

{% block content %}
<h1>Page Not Found</h1>
<div class="col-lg-10 mx-auto col-md-7 col-12 py-5 mt-5 text-center" data-aos="fade-up">


    <h1 class="mb-4"></h1>
    <p style="margin-bottom:2cm;"></p>
    <section id="team">
        <div class="container wow fadeInUp">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="section-title"><strong>Comment ça marche ?</strong></h1>
                    <div class="section-title-divider"></div>

                    <p class="section-description">Un outil simple de recherche d'emploi ! En prime, un cv généré.</p>
                    <br>
                    <br>
                </div>
            </div>
<p>
    
    Suite à quelques expérimentations, nous avons remarqué que procédure de matching utilisée par Pôle Emploi pour proposer des offres d'emploi aux utilisateurs souffrait de plusieurs lacunes : pas de prise en compte des fautes d'orthographes, de l’homonymie, etc. Par ailleurs, la qualité de la recherche dépend fortement de celle de l'indexation qui a été faite au préalable à partir des offres. La recherche par mots-clefs proposée est ainsi "dure" et peut limiter la pertinence des résultats. 
    Nous proposons ici une procédure de matching plus "souple", à l'aide d'un système de recommandation basé sur des word embeddings. Il s'agit d'une avancée majeure du NLP au cours des années récentes.
    
    Les embeddings des offres sont calculés après que celles-ci soit récupérées via l'API, puis stockées. Lorsqu'un utilisateur entre ces informations dans l'application, le modèle FastText est utilisé pour obtenir leur représentation "à la volée". Selon la mobilité de l'utilisateur (ville, département, région..), un pré-filtrage des offres est effectué. Puis on calcule ensuite toutes les similarités cosine entre les utilisateurs et les offres pris deux-à-deux, que l'on classe par ordre décroissant de pertinence. On affiche enfin, à l'aide de Flask, les offres à l'utilisateur (par similarité décroissante), en incluant les liens des offres sur le site de Pôle Emploi, où l'utilisateur peut trouver des informations additionnelles sur les offres qu'il juge pertinentes.

    
    
</p>
        </div>
    </section>
    <br>
    <br>
    <p><a href="{{ url_for('root') }}">Retour</a></p>
</div>
{% endblock %}
