{% extends "base.html" %}

{% block content %}
<h1>Page Not Found</h1>
<div class="col-lg-10 mx-auto col-md-7 col-12 py-5 mt-5 text-center" data-aos="fade-up">


    <h1 class="mb-4"></h1>
    <p style="margin-bottom:2cm;"></p>
    <section id="team">
        <div class="container wow fadeInUp">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="section-title"><strong>Comment ça marche ?</strong></h1>
                    <div class="section-title-divider"></div>

                    <p class="section-description">Un outil simple de recherche d'emploi ! En prime, un cv généré.</p>
                    <br>
                    <br>
                </div>
            </div>
<p>
    Où que nous mène l'inertie contextuelle, il serait intéressant de prendre en considération la majorité des stratégies de bon sens, pour longtemps. Quelle que soit l'inconstance induite, il est préférable de prendre en considération toutes les issues que nous connaissons, à l'avenir. Dans le but de pallier à l'ambiance actuelle, il faut de toute urgence remodeler la majorité des ouvertures draconiennes, parce que les mêmes causes produisent les mêmes effets.
</p>
        </div>
    </section>
    <br>
    <br>
    <p><a href="{{ url_for('root') }}">Retour</a></p>
</div>
{% endblock %}