<html>
    <head>
        <title>APP NAME - Identification</title>
    </head>
    <body>
        <h1>Identification</h1>
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <p>
                {{ form.username.label }}<br>
                {{ form.username(size=32) }}<br>
                {% if form.username.errors %}
                <span style="color: red;">Ce champ doit être complété.</span>
                {% endif %}
            </p>
            <p>
                {{ form.password.label }}<br>
                {{ form.password(size=32) }}<br>
                {% if form.password.errors %}
                <span style="color: red;">Ce champ doit être complété.</span>
                {% endif %}
            </p>
            <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
            <p>{{ form.submit() }}</p>
        </form>
        <p>Nouvel utilisateur? <a href="{{ url_for('register') }}">Cliquer ici pour vous inscrire.</a></p>
     </body>
</html>