{% extends "base.html" %}

{% block content %}

<!-- HERO -->
<section class="hero hero-bg d-flex justify-content-center align-items-center">
    <div class="container">
        <div class="row">

            <div class="col-lg-6 col-md-10 col-12 d-flex flex-column justify-content-center align-items-center">
                <div class="hero-text">

                    <h1 class="text-white" data-aos="fade-up">Bienvenue</h1>


                    <a href="{{ url_for('profil_info_generales') }}" class="custom-btn btn-bg btn mt-3"
                       data-aos="fade-up" data-aos-delay="100">Compléter mon profil</a>
                    <a href="{{ url_for('generation_cv') }}" class="custom-btn btn-bg btn mt-3" data-aos="fade-up"
                       data-aos-delay="100">Générer un CV!</a>
                    <p class="mb-0" data-aos="fade-up">
                        {% with messages = get_flashed_messages() %}
                        {% if messages %}
                    <ul class="flashes">
                        {% for message in messages %}
                        <div class="message_flash"><span style="color: white;"><br> &#x2191 {{ message }}  </span></div>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    {% endwith %}
                    </p>
                    <a href="{{ url_for('offres_recommandees') }}" class="custom-btn btn-bg btn mt-3" data-aos="fade-up"
                       data-aos-delay="100" onclick="$('#loading').show();">Parcourir les offres d'emploi
                        recommandées!</a>
                    <div id="loading" style="display:none;color:white;"><img
                            src="{{url_for('static', filename='ajax-loader.gif')}}" alt=""/>Calcul des offres en cours ! Veuillez patienter.
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-12">
                <div class="hero-image" data-aos="fade-up" data-aos-delay="300">

                    <img src="{{url_for('static', filename='working-girl.png')}}" class="img-fluid" alt="working girl">
                </div>
            </div>

        </div>
    </div>
</section>


<!-- ABOUT -->
<section class="about section-padding pb-0" id="about">
    <div class="container">
        <div class="row">

            <div class="col-lg-7 mx-auto col-md-10 col-12">
                <div class="about-info">

                    <h2 class="mb-4" data-aos="fade-up">Contruisez votre <strong>CV</strong> trouvez votre
                        <strong>job</strong></h2>

                    <p class="mb-0" data-aos="fade-up">

                        Nous avons construit ce site avec deux idées : que tout le monde puisse avoir un CV
                        professionnel,
                        et vous recommander les offres d'emploi qui vous correspondent le plus en fonction de vos qualifications. <strong>Simplement.</strong>
                        <br><br> <strong>Comment ça marche ?</strong> D'abord, complétez votre profil. Vous pourrez alors télécharger votre CV au format PDF, et avoir accès une
                        sélection d'offres d'emploi recommandées! !</p>
                </div>

                <div class="about-image" data-aos="fade-up" data-aos-delay="200">

                    <img src="{{url_for('static', filename='office.png')}}" class="img-fluid" alt="office">
                </div>
            </div>

        </div>
    </div>
</section>


<!-- TESTIMONIAL -->
<section class="testimonial section-padding">
    <div class="container">
        <div class="row">

            <div class="col-lg-6 col-md-5 col-12">
                <div class="contact-image" data-aos="fade-up">

                    <img src="{{url_for('static', filename='female-avatar.png')}}" class="img-fluid" alt="website">
                </div>
            </div>

            <div class="col-lg-6 col-md-7 col-12">
                <h4 class="my-5 pt-3" data-aos="fade-up" data-aos-delay="100">Témoignages</h4>

                <div class="quote" data-aos="fade-up" data-aos-delay="200"></div>

                <h2 class="mb-4" data-aos="fade-up" data-aos-delay="300">Après avoir travaillé dix ans dans un laboratoire de recherche sur des
                    modèles RNN, j'ai décidé de changer de vie. J'ai passé un CAP boulanger, et ce site m'a permis de trouver le
                    travail que je cherchais près de chez moi.</h2>

                <p data-aos="fade-up" data-aos-delay="400">
                    <strong>Anne Duclerc</strong>

                    <span class="mx-1">/</span>

                    <small>Boulangère</small>
                </p>
            </div>

        </div>
    </div>
</section>

{% endblock %}