{% extends "base.html" %}

{% block content %}
<section class="contact section-padding">
    <div class="container">
        <div class="row">

            <!--            <div class="col-lg-6 mx-auto col-md-7 col-12 py-5 mt-5 text-center" data-aos="fade-up">-->
            <div class="col-lg-10 mx-auto col-md-7 col-12 py-5 mt-5 text-center" data-aos="fade-up">
                <form action="" method="post" class="contact-form" novalidate %data-aos="fade-up" data-aos-delay="300"
                      role="form">
                    {{ form.hidden_tag() }}

                    <h1 class="mb-4">Création de votre profil</h1>

                    <h1 class="mb-1">
                        <hr><div style="text-align: center;"><strong>Certifications officielles</strong></div>
                    </h1>
                    <hr>


                    <div id="wrapper_1">
                        <h2 class="mb-1" data-aos="fade-up"><strong>Permis de conduire</strong></h2>
                        <br>
                        {% for subform in form.driver_licenses %}
                        <!--                {{ subform.driver_license.label }}-->
                        {{ subform.driver_license }}
                        <br>
                        {% endfor %}
                        <br>
                        <br>
                        {{ form.add_license(class="btn btn-info btn-sm") }}
                        {{ form.remove_license(class="btn btn-warning btn-sm") }}


                        <p>
                            <br>
                        </p>

                    </div>

                    <div id="wrapper_2">

                        <h2 class="mb-1" data-aos="fade-up"><strong>Autres certifications</strong></h2>
                        <br>
                        {% for subform in form.other_certifications %}
                        {{ subform.other_certif }}
                        <br>
                        {% endfor %}
                        <br>
                        <br>
                        {{ form.add_other_certif(class="btn btn-info btn-sm")}}
                        {{ form.remove_other_certif(class="btn btn-warning btn-sm")}}
                        </p>

                    </div>


                    <!--<div class="col-lg-8 mx-auto col-md-10 col-12">-->


                    <br>
                    <p>{{ form.submit( class="form-control",id="submit-button") }}</p>
                </form>
                <br>
                <a href="{{ url_for('profil_info_generales') }}">Revenir à la page précédente</a>


            </div>
        </div>
    </div>
</section>

<!--For debugging-->
<!--{% for field in form.errors %}-->
<!--{% for error in form.errors[field] %}-->
<!--    <div class="alert alert-error">-->
<!--        <strong>Error!</strong> {{field}}, {{error}}-->
<!--    </div>-->
<!--{% endfor %}-->
<!--{% endfor %}-->

{% endblock %}