{% extends "base.html" %}

{% block content %}

    <h1>Création d'un profil</h1>
    <h2>Informations générales</h2>

    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.last_name.label }}<br>
            {{ form.last_name(size=32) }}<br>
            {% if form.last_name.errors %}
                <span style="color: red;">Ce champ doit être complété.</span>
            {% endif %}
        </p>
        <p>
            {{ form.first_name.label }}<br>
            {{ form.first_name(size=32) }}<br>
            {% if form.first_name.errors %}
                <span style="color: red;">Ce champ doit être complété.</span>
            {% endif %}
        </p>
        <p>
            {{ form.phone_number.label }}<br>
            {{ form.phone_number(size=32) }}<br>
            {% if form.phone_number.errors %}
                <span style="color: red;">Ce champ doit être complété.</span>
            {% endif %}
        </p>
        <p>
            {{ form.city.label }}<br>
            {{ form.city(size=32) }}<br>
            {% if form.city.errors %}
                <span style="color: red;">Ce champ doit être complété.</span>
            {% endif %}
        </p>
        <p>
            {{ form.mobility.label }}<br>
            {{ form.mobility }}
        </p>
        <p>
            Langues parlées<br>
            {% for subform in form.languages %}
                {{ subform.language.label }}
                {{ subform.language }}
                {{ subform.level.label }}
                {{ subform.level}}<br>
            {% endfor %}
            {{ form.add_language }}
            {{ form.remove_language }}
        </p>
        <p>
            {{ form.description.label }}<br>
            {{ form.description }}<br>
            {% if form.description.errors %}
                <span style="color: red;">Ce champ doit être complété.</span>
            {% endif %}
        </p>
        <p>{{ form.submit }}</p>
    </form>

<!--For debugging-->

<!--{% for field in form.errors %}-->
<!--{% for error in form.errors[field] %}-->
<!--    <div class="alert alert-error">-->
<!--        <strong>Error!</strong> {{field}}, {{error}}-->
<!--    </div>-->
<!--{% endfor %}-->
<!--{% endfor %}-->

{% endblock %}

